[submodule "src/vendor/raylib"]
	path = src/vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "src/vendor/json"]
	path = src/vendor/json
	url = https://github.com/nlohmann/json.git
